.sfondo-blur{ /* sfondo per le varie pagine */
    background: url(immagine/sfondo-sfocato.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'UnifrakturMaguntia', sans-serif;
}
.impostazioni{
    border-collapse: collapse;
    padding: 5px auto;
    margin: auto;
}
td{
    width: 150px;
}
tr{
    height: 100px;
}
.done{
    display: block;
    margin: 50px auto;
    width: 270px;
    height: 60px;
    border-color: darkgrey;
    background-color: #6A452C;
    border-color: #987654;
    color: #ddd;
    border-radius: 20px;
    font-family: 'UnifrakturMaguntia', sans-serif;
    background: url(immagine/legno.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 30px;
}
.linguabot{
    background: url(immagine/bandiera-ita.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    border: 1px;
}
.bottoneTendina{
    width: 150px;
    height: 25px;
    border: none;
    text-align: center;
    vertical-align: middle;
}