html, body{ /* dimenasione della pagina */
    width: 99%; 
    height: 18%;
}
.sfondo-blur{ /* sfondo per le varie pagine */
    background: url(immagine/sfondo-sfocato.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'UnifrakturMaguntia', sans-serif;
}
body{ /* sfondo pagina iniziale */
    font-family: lora;
    background: url(immagine/sfondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'UnifrakturMaguntia', sans-serif;
}
.titolo{ /* titolo del gioco nella pagina iniziale*/
    text-align: center;
    margin-top: 250px;
    margin-bottom: 50px;
    font-size: 80px;
    color: white;
}
.bottoni{ /* i vari bottoni presenti nella pagina iniziale*/
    font-size: 40px;
    display: block;
    width: 450px;
    height: 90px;
    margin: 10px auto;
    border-color: darkgrey;
    background-color: #6A452C;
    border-color: #987654;
    color: #ddd;
    border-radius: 20px;
    font-family: 'UnifrakturMaguntia', sans-serif;
    background: url(immagine/legno.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.settings{
    margin: 50px auto;
    border: 1px solid white;
    border-collapse: collapse;
    font-size: 50px;
}
.done{
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    margin: 50px auto;
    width: 270px;
    height: 60px;
    border-color: darkgrey;
    background-color: #6A452C;
    border-color: #987654;
    color: #ddd;
    border-radius: 20px;
    font-family: 'UnifrakturMaguntia', sans-serif;
    background: url(immagine/legno.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 30px;
}
.n-giocatori{
    font-size: 60px;
    text-align: center;
    color: white;
}
.selezione-giocatori{
    border-collapse: collapse;
    margin: 25px auto;
    height: 450px;
    width: 500px;
    text-align: center;
    color: azure;
}
.casella1{
    background: url(immagine/on-giocatore.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 600px;
    border: 1px;
}
.casella2{
    background: url(immagine/due-giocatori.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 600px;
    border: 1px;
}
.casella3{
    background: url(immagine/tre-giocatori.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    border: 1px;
}
.casella4{
    background: url(immagine/quattro-giocatori.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    border: 1px;
}