body{
    width: 99%;
    height: 97%;
    background: url('mappa/sfondo-gioco.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.malus{
    background-color: red;
    width: 50px;
    height: 50px;
}
.bonus{
    background-color: green;
    width: 50px;
    height: 50px;
}
.caselle{
    position: absolute;
    width: 50px;
    height: 50px;
    background: url("mappa/sentiero-dritto.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-content: center;
    color: black;
}
.orizzontale{
    position: absolute;
    width: 50px;
    height: 50px;
    background: url("mappa/sentiero-orrizontale.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-content: center;
    color: black;
}
.Cel10{
    border-radius: 0 0 0 90%;
    background: urL("mappa/curva-detsra-basso.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    align-content: center;
    color: rgb(74, 74, 74);
}
.Cel12{
    border-radius: 0 0 90% 0; 
    background: url("mappa/curva-sinistra-basso.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    align-content: center;
}
.Cel18{
    border-radius: 90% 0 0 0;
    background: urL("mappa/curva-destra-alto.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    align-content: center;
}
.Cel23{
    border-radius: 0 90% 0 0;
    background: urL("mappa/curva-sinistra-alto.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    align-content: center;
}
.Cel25{
    border-radius: 0 0 90% 0;
    background: url("mappa/curva-sinistra-basso.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    align-content: center;
}
.Cel28{
    border-radius: 90% 0 0 0;
    background: urL("mappa/curva-destra-alto.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    align-content: center;
}
.Cel32{
    border-radius: 0 0 0 90%;
    background: urL("mappa/curva-detsra-basso.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    align-content: center;
}
.Cel37{
    border-radius: 0 0 90% 0;
    background: url("mappa/curva-sinistra-basso.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    align-content: center;
}
.Cel45{
    border-radius: 90% 0 0 0;
    background: urL("mappa/curva-destra-alto.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    align-content: center;
}
.Cel52{
    border-radius: 0 90% 0 0;
    background: urL("mappa/curva-sinistra-alto.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    align-content: center;
}
.Cel54{
    border-radius: 0 0 90% 0;
    background: url("mappa/curva-sinistra-basso.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    align-content: center;
}
.Cel59{
    border-radius: 90% 0 0 0;
    background: urL("mappa/curva-destra-alto.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    align-content: center;
}
.Cel64{
    border-radius: 0 0 0 90%;
    background: urL("mappa/curva-detsra-basso.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    align-content: center;
}
.Cel66{
    border-radius: 0 0 95% 0;
    background: url("mappa/curva-sinistra-basso.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    align-content: center;
}
.Cel69{
    border-radius: 90% 0 0 0;
    background: urL("mappa/curva-destra-alto.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    align-content: center;
}
.Cel71{
    border-radius: 0 90% 0 0;
    background: urL("mappa/curva-sinistra-alto.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    align-content: center;
}
.Cel74{
    border-radius: 0 0 0 90%;
    background: urL("mappa/curva-detsra-basso.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    align-content: center;
}
.Cel77{
    border-radius: 0 0 90% 0;
    background: url("mappa/curva-sinistra-basso.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    align-content: center;
}
.Cel86{
    border-radius: 90% 0 0 0;
    background: urL("mappa/curva-destra-alto.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    align-content: center;
}
.Cel88{
    border-radius: 0 90% 0 0;
    background: urL("mappa/curva-sinistra-alto.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    align-content: center;
}
.Cel98{
    border-radius: 0 0 0 90%;
    background: urL("mappa/curva-detsra-basso.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    text-align: center;
    align-content: center;
}
.dado{
    width: 50px;
    height: 25px;
    position: fixed;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
}